@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Track-It!</h1>
</div>
<div class="jumbotron">
    <h1 class="display-3">Document your work today!</h1>
    <img src="../Images/IMG_2932 (2).jpg" width="300" alt="Scuba Dive trip in Puerto Rico, Recorded on Track-It!" />
    <div float="right"> <p class="lead">With our website Track In, you don't have to worry about keeping track of unorganized paperwork for the hours you contributed to the community. Make a profile today to make your community service worth it!</p></div>
    <hr class="my-4">
    <p>Millions of people volunteer their time to the community. How do you track your hours? Do you keep physical paperwork from letters by the organization?  </p>
    <img src="../Images/P5160056 (1).JPG" width="300" alt="Scuba Dive trip in Puerto Rico, Recorded on Track-It!" />

</div>
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small>3 days ago</small>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small>Donec id elit non mi porta.</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">List group item heading</h5>
            <small class="text-muted">3 days ago</small>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small class="text-muted">Donec id elit non mi porta.</small>
    </a>
</div>