@{
    
}

<h2>ABOUT OUR COMPANY</h2>
<h3>Creator's Story</h3>
<img src="../Images/IMG_4154.jpg "width=" 300" alt="JROTC Event, Baltmore, Maryland 2019" />
<p>I've served 8 years in the Marine Corps' and during that time, I had no way to keep track of my community service hours other than paperwork which eventually got lost or damaged. That's why I made Track It, so people like you and me can organize what we've done for our community. This site can be used for other events that you want to keep track of, get started today!.</p>
