
@{
    ViewData["Title"] = "Team";
}

    <div class="card mb-3">
        <h3 class="card-header"></h3>
        @*<div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
        </div>*@
        <img style="height: 900px; width: 50%; display: block;"<img src="~/Images/IMG_1709.PNG" />  
        <div class="card-body">
            <p class="card-text"> A little about Jasmine! </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">I'm a US Marine Vet and I am tranistioning into the Software Developer field</li>
            <li class="list-group-item">I enjoy playing video games and photography</li>
            <li class="list-group-item"></li>
        </ul>

        <img style="height: 900px; width: 100%; display: block;"<img src="~/Images/IMG_1687.JPG" />" alt="Card image"  />
        <div class="card-body">
            <p class="card-text"> A little about Oscar! </p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">I've been in the Marine Corps for 6 years and I'm a Radio Operator</li>
            <li class="list-group-item">I'm an aspiring GamePlay Programmer</li>
            <li class="list-group-item"></li>
        </ul>
        @*<div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>*@
    </div>
@*<div class="card">
    <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>*@

