
@{
    ViewData["Title"] = "Testimonials";
}


<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div class="card-header"></div>
    <div class="card-body">
        <h4 class="card-title">Oscar's Review</h4>
        <p class="card-text">I use the site to input my volunteer hours from the Single Marine Program!!</p>
    </div>
</div>


<div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
    <div class="card-header"></div>
    <div class="card-body">
        <h4 class="card-title">Victoria's Review</h4>
        <p class="card-text">I use TrackIT to record my hours to be a scuba diving instructor!</p>
    </div>
</div>
<div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
    <div class="card-header"></div>
    <div class="card-body">
        <h4 class="card-title">Kyle's Review</h4>
        <p class="card-text">The site is easy to use and It's useful to have my hours documented!</p>
    </div>
</div>

