@*@model IEnumerable<VolunteerRecord>

@foreach (var record in Model) 
{<div>
    <p>@record.EventName</p>
</div> }*@

<a asp-action="UploadPic" class="btn btn-primary"><span>Make New Record</span></a>