
    <form method="post"enctype="multipart/form-data" >

        <div>
            <label for="file1">Picture Upload</label>
            <input type="file" id="file1"
                   name="file1"
                   multiple="multiple" />
        </div>

        <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
            <small id="fileHelp" class="form-text text-muted">Add any files if you have any!!</small>
        </div>
    </form>
